@model Notebook.Web.Models.CalendarEvents.MeetingViewModel

@{
    ViewData["Title"] = "Встреча";
}

<h4>Встреча</h4>
<hr />
<form asp-action="CreateMeeting">
  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
  <div class="form-group">
    <label asp-for="DateStart" class="control-label"></label>
    <input asp-for="DateStart" class="form-control" />
    <span asp-validation-for="DateStart" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="DateEnd" class="control-label"></label>
    <input asp-for="DateEnd" class="form-control" />
    <span asp-validation-for="DateEnd" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Subject" class="control-label"></label>
    <input asp-for="Subject" class="form-control" />
    <span asp-validation-for="Subject" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Place" class="control-label"></label>
    <input asp-for="Place" class="form-control" />
    <span asp-validation-for="Place" class="text-danger"></span>
  </div>
  <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" asp-for="Done" /> @Html.DisplayNameFor(model => model.Done)
    </label>
  </div>
</form>

